
<div class="flex items-center justify-center h-screen bg-gray-100" style="margin-left: 37%; margin-top: 10%;">
  <div class="card p-3" style="width: 400px;">
    <div class="form-group">
      <%= form_with scope: :session, url: session_path, data: {turbo: false} do |form| %>

        <%= form.label :email, class: 'mb-1' %>
        <%= form.text_field :email, class: 'form-control mb-2' %>

        <%= form.label :password, 'Пароль', class: 'mb-1' %>
        <%= form.password_field :password, class: 'form-control mb-2' %>

        <div style="margin-top: 20px">
          <%= form.submit 'Войти', class: "btn btn-outline-secondary btn-block mb-3"%>
        </div>

        <span class="mt-2">
                Нет аккаунта?
                <a href="/users/new"
                   class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600">
                    Зарегистрироваться
                </a>
        </span>
      <% end %>
    </div>
  </div>
</div>