
<div class="flex items-center justify-center h-screen bg-gray-100" style="margin-left: 37%; margin-top: 10%;">
  <div class="card p-3" style="width: 400px;">
    <div class="form-group">
      <%= form_with scope: :session, url: session_path, data: {turbo: false} do |form| %>

        <label for="email" class="mb-1"><%= form.label :email, class: 'mb-1' %></label>
        <input class="form-control mb-2" id="email" placeholder="name@mail.ru" <%= form.text_field :email, class: 'form-email-field mb-2' %>

        <label for="password" class="mb-1"><%= form.label :password, 'Пароль' %></label>
        <input class="form-control mb-2" id="password" placeholder="*******" <%= form.password_field :password, class: 'form-password-field' %>

        <div style="margin-top: 20px"><%= form.submit 'Войти', class: "btn btn-secondary btn-block mb-3"%></div>
      <% end %>
    </div>
  </div>
</div>