<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ask.FM</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "user_profile", media: "all", "data-turbo-track": "reload" %>
    <script>
        setTimeout(function() {
            document.querySelector('.alert').remove();
        }, 2000);
    </script>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">Ask.FM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="margin-left: 35%">
          <li class="nav-item">
            <a class="nav-link" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/questions">Вопросы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">Пользователи</a>
          </li>
        </ul>
        <% if current_user.present? %>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= image_tag current_user.avatar.url(:thumb), class: "rounded-circle", alt: current_user.name, width: "40", height: "40" %></a>
                <ul class="dropdown-menu" style="margin-left: -40px">
                  <%= button_to 'Мой профиль', user_path(current_user.id), method: :get, class: "dropdown-item"%>
                  <li><a class="dropdown-item nav-item"><%= button_to 'Выйти', session_path, method: :delete, class: "btn btn-danger" %></a></li>
                </ul>
              </div>
            </li>
          </ul>
        <%else %>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/session/new">Войти</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/new">Зарегистрироваться</a>
            </li>
          </ul>

        <% end %>
      </div>
    </div>
  </nav>

  <% if flash[:notice].present? %>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <% if flash[:notice] == "Вопрос удален" or flash[:notice] == "Неправильный email или пароль" %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= flash[:notice] %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <%else %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= flash[:notice] %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <% end %>

  <%= yield %>

  </body>
</html>
